* {
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  background-color: black;
}

h1, h2, span {
  background: -webkit-linear-gradient(#101e3d, #6f7f8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#addr{
  font-size: 1.4em;
}

h1{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 7px;
  cursor: pointer
}
h1 span{
  transition: 0.7s linear
}
h1:hover span:nth-child(1){
  margin-right: 10px
}

h1:hover span:nth-child(2){
  margin-left: 10px
}
h1:hover span{
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff, 
               0 0 40px #fff;
}

img {
  max-width: 115vh;
}


